.mainChatContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

  .header {
    font-size: 1.2rem;
    text-align: center;
  }

  .contentContainer {
    display: flex;
    background: #ffffff;
    color: #333333;
    width: 87%;
    border-radius: 10px;
    height: 550px;

    @media (max-width: 768px) {
      width: 90%;
    }

    .chatOverview {
      width: 35%;
      padding: 20px;
      border-right: 1px solid lightgrey;
      transition: width 0.26s ease;

      @media (max-width: 650px) {
        overflow: hidden;
        position: absolute;
        height: 72%;
        width: 6%;
        background: #ffffff;
        z-index: 1;
        border-radius: 10px;
        padding: 0;
      }

      .chatsHeader {
        font-size: 1.1rem;
        font-weight: bold;
        text-align: center;
        border-bottom: 1px solid lightgrey;

        @media (max-width: 650px) {
          height: 0;
          overflow: hidden;
        }
      }

      .chatsHeaderToggle {
        padding-bottom: 20px;
        height: auto;
      }

      .chatsContainer {
        height: 430px;
        width: 100%;
        overflow-y: scroll;
      }

      .chatsToggle {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 100%;
        background: repeating-linear-gradient(
          45deg,
          transparent,
          transparent 7px,
          #ccc 10px,
          #ccc 5px
        );
      }
    }

    .mobileChatToggle {
      width: 60%;
      height: 69%;
      padding: 10px 0 10px 10px;
    }

    .activeChat {
      width: 65%;
      padding: 20px;

      @media (max-width: 650px) {
        width: 95%;
        padding: 20px 30px 20px 30px;
      }

      .chatHeader {
        padding-bottom: 10px;

        .meetingSpot {
          border: 1px solid lightgrey;
          width: 95%;
          font-family: "Poppins";
          border-radius: 5px;
          padding: 0 10px;
        }
        .meetingSpot:focus {
          outline: none;
        }
      }

      .chatMessageArea {
        height: 80%;
        overflow-y: scroll;
      }

      .chatInput {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .chatInput {
          width: 75%;
          height: 40px;
          padding: 0 10px;
          border: solid 1px grey;
          border-radius: 5px;
          font-size: 16px;
          color: #333333;
          font-family: "Poppins";
        }
        .chatInput:focus {
          outline: none;
        }
        .chatInput:disabled {
          opacity: 0.3;
        }

        .chatSendButton {
          width: 15%;
          height: 42px;
          font-size: 15px;
          font-family: "Poppins";
          background: #007bff;
          border: none;
          color: #ffffff;
          transition: 0.3s;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
        }
        .chatSendButton:hover {
          cursor: pointer;
          background: #0069d9;
        }
        .chatSendButton:disabled {
          background: grey;
          cursor: not-allowed;
        }
      }
    }
  }
}

.singleChatContainer {
  display: flex;
  flex-direction: column;

  .messageContainer {
    min-height: 35px;
    max-width: 250px;
    color: #f8f9fa;
    border-radius: 20px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    margin: 2px 0px;

    @media (max-width: 650px) {
      font-size: 15px;
    }
  }

  .sender {
    background: #007bff;
  }

  .receiver {
    background: grey;
  }

  .dateContainer {
    color: lightgrey;
    display: flex;
    align-items: center;
    margin: 0 5px;
    font-size: 12px;
  }
}
.receiverPos {
  align-items: flex-start;
}

.senderPos {
  align-items: flex-end;
}
