.mainChatContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

  .header {
    font-size: 1.2rem;
    text-align: center;
  }

  .contentContainer {
    display: flex;
    background: #ffffff;
    color: #333333;
    width: 87%;
    border-radius: 10px;
    height: 600px;

    @media (max-width: 768px) {
      width: 90%;
    }

    .chatOverview {
      width: 35%;
      padding: 20px;
      border-right: 1px solid lightgrey;
      transition: width 0.26s ease;

      @media (max-width: 650px) {
        overflow: hidden;
        position: absolute;
        max-height: 600px;
        width: 6%;
        background: #ffffff;
        z-index: 1;
        border-radius: 10px;
        padding: 0;
      }

      .chatsHeader {
        font-size: 1.1rem;
        font-weight: bold;
        text-align: center;
        border-bottom: 1px solid lightgrey;

        @media (max-width: 650px) {
          height: 0;
          overflow: hidden;
        }
      }

      .chatsHeaderToggle {
        padding-bottom: 20px;
        height: auto;
      }

      .chatsContainer {
        height: 495px;
        width: 100%;
        overflow-y: scroll;
      }

      .chatsToggle {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 100%;
        background: repeating-linear-gradient(
          45deg,
          transparent,
          transparent 7px,
          #ccc 10px,
          #ccc 5px
        );
      }
    }

    .mobileChatToggle {
      width: 60%;
      max-height: 580px;
      padding: 10px 0 10px 10px;
    }

    .activeChat {
      width: 65%;
      padding: 0 20px;

      @media (max-width: 650px) {
        width: 95%;
        padding: 0 20px 0 30px;
      }

      .chatHeader {
        display: flex;
        min-height: 80px;

        .headerLeft {
          width: 90%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;

          .chatName {
            font-size: 1.4em;
            color: #0069d9;
            padding: 0 5px;
          }

          .chatDetails {
            font-style: italic;
            padding: 0 5px;

            @media (max-width: 650px) {
              font-size: 0.8em;
            }

            .bookLink {
              color: #000000;
              text-decoration: underline;
            }
            .bookLink:hover {
              cursor: pointer;
              font-weight: 800;
            }
          }
        }

        .headerRight {
          width: 10%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
        }
      }

      .chatMessageArea {
        height: 70%;
        overflow-y: scroll;
        margin: 10px 0;
      }

      .chatForm {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .chatInput {
          width: 80%;
          height: 50px;
          padding: 0 10px;
          border: solid 1px grey;
          border-radius: 5px;
          font-size: 16px;
          color: #333333;
          font-family: "Poppins";
          resize: none;
        }
        .chatInput:focus {
          outline: none;
        }
        .chatInput:disabled {
          opacity: 0.3;
        }

        .chatSendButton {
          width: 15%;
          height: 42px;
          font-size: 15px;
          font-family: "Poppins";
          background: #007bff;
          border: none;
          color: #ffffff;
          transition: 0.3s;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;

          @media (max-width: 650px) {
            height: 90%;
            margin-left: 10px;
          }
        }
        .chatSendButton:hover {
          cursor: pointer;
          background: #0069d9;
        }
        .chatSendButton:disabled {
          background: grey;
          cursor: not-allowed;
        }
      }
    }
  }
}

.singleChatContainer {
  display: flex;
  flex-direction: column;

  .messageContainer {
    min-height: 25px;
    max-width: 250px;
    color: #f8f9fa;
    border-radius: 20px;
    padding: 5px 10px;
    align-items: center;
    margin: 2px 0px;
    word-break: break-word;

    @media (max-width: 650px) {
      font-size: 15px;
      max-width: 200px;
    }
  }

  .sender {
    background: #007bff;
  }

  .receiver {
    background: grey;
  }

  .dateContainer {
    color: lightgrey;
    display: flex;
    align-items: center;
    margin: 0 5px;
    font-size: 12px;
  }

  .chatLink,
  .chatLink:visited {
    color: #f8f9fa;
    text-decoration: "underline";
  }
  .chatLink:hover {
    font-weight: bold;
  }
}
.receiverPos {
  align-items: flex-start;
}

.senderPos {
  align-items: flex-end;
}

.chatIcons {
  font-size: 1.5em;
  transition: 0.3s;
}

.chatIcons:hover {
  color: #0069d9;
  cursor: pointer;
}

.isLoading {
  filter: blur(8px);
}
