.profileContainer {
  display: flex;
  justify-content: space-evenly;
  min-height: 660px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/profile.png") no-repeat center;
  background-size: cover;
  color: #ffffff;
  padding: 25px 0;

  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
  }

  .infoContainer {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 1000px) {
      width: 90%;
    }

    .header {
      font-size: 1.2rem;
    }

    .detailsContainer {
      display: flex;
      flex-direction: column;
      background: #ffffff;
      color: #333333;
      width: 100%;
      border-radius: 10px;
      min-height: 420px;

      .inputLabel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        margin-top: 25px;
        @media (max-width: 600px) {
          width: 90%;
        }
      }

      .input {
        width: 220px;
        height: 37px;
        padding: 0 10px;
        border: solid 1px grey;
        border-radius: 5px;
        font-size: 16px;
        color: #333333;
        font-family: "Overpass";
      }
      .input:focus {
        outline: none;
      }

      .saveButton {
        height: 50px;
        width: 65%;
        font-size: 20px;
        font-family: "Overpass";
        background: #007bff;
        border: none;
        color: #ffffff;
        transition: 0.3s;
        margin: 25px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
      }
      .saveButton:hover {
        cursor: pointer;
        background: #0069d9;
      }
      .saveButton:disabled {
        background: grey;
        cursor: not-allowed;
      }

      .postHeader {
        display: flex;
        margin: 5%;
        border-bottom: 1px solid #333333;

        .fillerItem {
          width: 50px;
        }

        .postCol {
          width: 30%;
          text-align: center;
          padding: 10px;
        }
        .progCol {
          width: 20%;
          text-align: center;
          padding: 10px;
        }
        .titleCol {
          width: 50%;
          text-align: center;
          padding: 10px;
        }
      }

      .postsContainer {
        margin: 0 5%;
        max-height: 320px;
        overflow-y: scroll;
      }
    }
  }
}

.itemContainer {
  display: flex;
  flex-direction: column;

  .postItemContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
    min-height: 50px;
    border: 1px solid #333333;
    border-radius: 10px;

    .postItemDate {
      width: 30%;
      text-align: center;
      margin: auto 0;
    }
    .postItemProgram {
      width: 20%;
      text-align: center;
      margin: auto 0;
    }
    .postItemTitle {
      width: 50%;
      text-align: center;
      margin: auto 0;
    }
    .postItemDelete {
      font-size: 20px;
      margin: auto;
      padding-right: 10px;
    }
    .postItemDelete:hover {
      cursor: pointer;
    }
  }
  .postItemContainer:hover {
    background: #007bff;
    color: #ffffff;
  }

  .isBlue {
    background: #007bff;
    color: #ffffff;
  }

  .confirmDrawer {
    width: 90%;
    min-height: 50px;
    background: #333333;
    border-radius: 0 0 10px 10px;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    user-select: none;

    .confirmButton {
      color: #ffffff;
      background: #007bff;
      height: 25px;
      width: 35%;
      border: none;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none;
      transition: background-color 0.15s ease-in-out;
      margin: 0 auto;
    }
    .confirmButton:hover {
      cursor: pointer;
      background: #0069d9;
    }
  }
}
