.chatPreview {
  min-height: 85px;
  border-bottom: 1px solid lightgrey;
  padding-left: 10px;
  display: flex;

  .chatUserName {
    font-size: 1.05rem;
    font-weight: bold;
    padding-bottom: 5px;

    @media (max-width: 768px) {
      font-size: 0.9rem;
    }
  }
  .chatDetails {
    @media (max-width: 768px) {
      font-size: 0.8rem;
    }
    .interestedIn {
      font-style: italic;
    }
  }
}
.chatPreview:hover {
  background: #d6d6d6;
  cursor: pointer;
}
.selectedChat {
  background: #d6d6d6;
}

.previewContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
}

.unread {
  margin: auto 2.5%;
  border-radius: 50%;
  background: #007bff;
  width: 12px;
  height: 12px;
}
