.chatPreview {
  min-height: 85px;
  border-bottom: 1px solid lightgrey;
  padding-left: 10px;
  display: flex;

  .chatUserName {
    font-size: 1.05rem;
    font-weight: bold;
    padding-bottom: 5px;

    @media (max-width: 768px) {
      font-size: 0.9rem;
    }
  }
  .chatDetails {
    @media (max-width: 768px) {
      font-size: 0.8rem;
    }
    .interestedIn {
      font-style: italic;
    }
  }
}
.chatPreview:hover {
  // background: #d6d6d6;
  background: #e0e6e8;
  cursor: pointer;
}
.selectedChat {
  // background: #d6d6d6;
  background: #e8eeee;
}

.previewContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
}

.chatMetaData {
  width: 25%;
  display: flex;
  flex-direction: column;

  .chatDate {
    width: 12px;
    height: 12px;
  }
  .unread {
    margin: auto 2.5%;
    border-radius: 50%;
    background: #007bff;
    width: 12px;
    height: 12px;
  }
}
