.sellContainer {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/media/sellLaptop.png") no-repeat center;
  background-size: cover;
  flex-direction: column;
  padding: 25px 0;
  z-index: -1;

  @media (max-width: 550px) {
    padding-bottom: 0;
  }

  .title {
    color: #ffffff;
    font-size: 60px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 25px;
    @media (max-width: 550px) {
      font-size: 40px;
      margin: 25px 0;
    }
  }

  .statusMessage {
    color: red;
    text-align: center;
    font-size: 12px;
  }

  .sellForm {
    min-height: 400px;
    width: 550px;
    background: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding: 20px 0 40px 0;
    text-align: center;

    @media (max-width: 550px) {
      width: 100%;
      height: auto;
    }

    .form {
      width: 85%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 0 auto;
    }

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;

      @media (max-width: 550px) {
        flex-direction: column;
      }
    }

    .row2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;
    }

    .isbnContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 55%;

      .isbnInfoPanel {
        display: none;
        position: absolute;
        width: 250px;
        height: 150px;
        z-index: 100;
        top: 17%;
        right: 30%;
        background: #ffffff;
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.2);
        border-radius: 10px;
      }
      .isbnInfoPanel:hover {
        display: block;
        cursor: pointer;
      }

      .isbnInfo {
        height: 25px;
        width: 25px;
      }
      .isbnInfo:hover + .isbnInfoPanel {
        cursor: pointer;
        display: block;
      }
    }

    .searchButton {
      height: 50px;
      width: 35%;
      font-size: 20px;
      font-family: "Poppins";
      background: #007bff;
      border: none;
      color: #ffffff;
      transition: 0.3s;
    }
    .searchButton:hover {
      cursor: pointer;
      background: #0069d9;
    }
    .searchButton:disabled {
      cursor: not-allowed;
      background: grey;
    }

    .checkboxRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;
    }

    .checkboxLabel {
      width: 100px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: grey;
    }

    .checkbox {
      width: 20px;
      height: 20px;
      border: 2px solid #007bff;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .checkbox:hover {
      background: #dddddd;
      cursor: pointer;
    }

    .checkActive {
      width: 15px;
      height: 15px;
      border-radius: 4px;
      background: #007bff;
    }

    .schoolInput {
      width: 224px;
      height: 38px;
      margin-top: 5px;

      @media (max-width: 550px) {
        width: 100%;
      }
    }

    .fileUpload {
      height: 0;
      overflow: hidden;
      width: 0;
    }
    .fileLabel {
      width: 48%;
      border-bottom: 1px solid #000000;
      color: grey;
      margin-top: 33px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      @media (max-width: 550px) {
        width: 100%;
      }
    }
    .fileLabel:hover {
      cursor: pointer;
    }

    .submitButton {
      height: 50px;
      font-size: 20px;
      font-family: "Poppins";
      background: #007bff;
      border: none;
      color: #ffffff;
      transition: 0.3s;
      margin-top: 30px;

      @media (max-width: 550px) {
        margin-top: 25px;
      }
    }
    .submitButton:hover {
      cursor: pointer;
      background: #0069d9;
    }
    .submitButton:disabled {
      cursor: not-allowed;
      background: grey;
    }
  }
}
