.homeContainer {
  display: flex;
  flex-direction: column;
}

.searchPanel {
  height: 575px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/students.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .searchHeader {
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
    user-select: none;
    margin-bottom: 30px;
    text-align: center;
    @media (max-width: 1000px) {
      font-size: 40px;
    }
  }

  .searchForm {
    width: 45%;
    @media (max-width: 1000px) {
      width: auto;
    }

    .inputRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      .searchInput {
        width: 180px;
        height: 37px;
        padding: 0 10px;
        border: solid 1px grey;
        border-radius: 5px;
        font-size: 16px;
        color: #333333;
      }
      .searchInput:focus {
        outline: none;
      }

      .searchInputTwo {
        width: 400px;
        height: 38px;
        padding: 0 10px;
        border: solid 1px grey;
        border-radius: 5px;
        font-size: 16px;
        color: #333333;
        @media (max-width: 1000px) {
          width: 180px;
        }
      }
      .searchInputTwo:focus {
        outline: none;
      }

      .searchButton {
        color: #ffffff;
        background: #007bff;
        height: 40px;
        width: 200px;
        border: none;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        transition: background-color 0.15s ease-in-out;
      }
      .searchButton:hover {
        cursor: pointer;
        background: #0069d9;
      }
      .searchButton:focus {
        outline: none;
      }
      .searchButton:disabled {
        background: grey;
      }

      .schoolInput {
        width: 200px;
        height: 40px;
      }
    }
  }
}

.featuresPanel {
  min-height: 450px;
  background: #f8f9fa;
  display: flex;
  justify-content: space-around;

  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
  }

  .feature {
    width: 33.3%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    @media (max-width: 1000px) {
      width: 100%;
      height: 33.3%;
      margin: 35px 0;
    }

    .icon {
      color: #007bff;
      font-size: 4.5rem;
      position: absolute;
      top: 100px;
      @media (max-width: 1000px) {
        position: initial;
      }
    }
    .icon:hover {
      font-size: 4.7rem;
    }

    .featureHeader {
      font-size: 1.87rem;
      font-weight: 700;
      text-align: center;
      margin-top: 15px;
      @media (max-width: 1000px) {
        margin-top: 0;
      }
    }
  }
}

.infoPanel {
  display: flex;
  flex-direction: column;

  .infoRow {
    display: flex;
    height: 400px;
    background: #ffffff;
    @media (max-width: 1000px) {
      flex-direction: column;
    }

    .textBlock {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (max-width: 1000px) {
        height: 300px;
        width: auto;
      }

      .textTitle {
        font-size: 1.25rem;
        font-weight: 700;
        padding: 30px;
      }
      .textDesc {
      }
    }

    .pictureBlock {
      width: 50%;
      @media (max-width: 1000px) {
        height: 400px;
        width: auto;
      }
    }
    .books {
      background: url("../../assets/textbooks.jpg") no-repeat center;
      background-size: cover;
    }
    .money {
      background: url("../../assets/money.jpg") no-repeat center;
      background-size: cover;
    }
  }

  .reverseCol {
    @media (max-width: 1000px) {
      flex-direction: column-reverse;
    }
  }
}

.reviewsPanel {
  min-height: 450px;
  background: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .reviewTitle {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 25px 0;
  }

  .reviewContainer {
    display: flex;
    justify-content: space-around;

    @media (max-width: 1000px) {
      flex-direction: column;
      align-items: center;
    }

    .review {
      width: 33.3%;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media (max-width: 1000px) {
        width: 100%;
        height: 33.3%;
        margin: 35px 0;
      }

      .reviewPic {
        height: 175px;
        width: 175px;
        border-radius: 50%;
        box-shadow: 0 5px 5px 0 #adb5bd;
        margin-bottom: 10px;
      }

      .reviewHeader {
        font-size: 1.5rem;
        font-weight: 700;
      }
    }
  }
}
