.navContainer {
  display: flex;
  justify-content: space-between;
  height: 70px;
  background: white;
}

.logoLink {
  display: flex;
  align-items: center;
  font-size: 1.35rem;
  font-weight: bolder;
  padding-left: 3%;
  min-width: 200px;
}

.navLinks {
  min-width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navItem {
  font-size: 15px;
  color: #ffffff;
  background: #007bff;
  height: 100%;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition: background-color 0.15s ease-in-out;
  text-decoration: none;
}
.navItem:hover {
  cursor: pointer;
  background: #0069d9;
}
