.postContainer {
  // background: #333333;
  // border-top: none;
  // border-radius: 5px;
  margin: 5px 0;
}

.postHeader {
  display: flex;
  align-items: center;
  height: 80px;
  border-radius: 5px;
  background: #f8f8f8;
}
.postHeader:hover {
  cursor: pointer;
  color: #ffffff;
  background: #007bff;
  // box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.2);
}

.isGrey {
  background: #c7c7c7;
}

.postHeaderItem {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.date {
  width: 10%;
}
.program {
  width: 30%;
}
.course {
  width: 10%;
}
.name {
  width: 40%;
}
.price {
  width: 10%;
}

.enter {
  height: 0px;
}
.enter.enter-active {
  height: 100px;
  transition: height 0.3s ease;
}
// .leave {
//   opacity: 1;
//   transition: opacity 1.5s ease-out;
// }
.leave.leave-active {
  height: 0px;
  transition: height 0.3s ease;
}
// .appear {
//   opacity: 0.01;
// }
// .appear.appear-active {
//   opacity: 1;
//   transition: opacity 1.5s ease-in;
// }

.drawerContainer {
  background: #f8f9fa;
  height: 100%;

  .drawerInfo {
    min-height: 300px;
    width: 80%;
    background: #333333;
    margin: auto;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 3px 10px 0 #000000;
    margin-bottom: 25px;
    color: #f8f8f8;

    .bookTitle {
      font-size: 22px;
      text-align: center;
      font-weight: bold;
    }

    .assetContainer {
      display: flex;
      justify-content: space-evenly;

      .infoContainer {
        width: 50%;
        padding: 10px 0;

        .infoSection {
          padding-bottom: 10px;
        }

        .infoTitle {
          font-size: 18px;
          font-weight: bold;
          text-decoration: underline;
        }

        .row {
          display: flex;
          font-size: 15px;

          .label {
            font-weight: bold;
            min-width: 27%;
          }
          .value {
            font-weight: lighter;
            min-width: 73%;
          }
        }
      }

      .picture {
        width: 45%;
        padding: 15px 0;
        text-align: center;

        .asset {
          max-width: 300px;
          max-height: 275px;
        }
      }
    }
  }
}
