.postHeader {
  display: flex;
  align-items: center;
  height: 80px;
  // border-radius: 5px;
  background: #ffffff;
  border-bottom: 1px solid #333333;
}
.postHeader:hover {
  cursor: pointer;
  color: #ffffff;
  background: #007bff;
  // box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.2);
}

.postHeaderItem {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 678px) {
    font-size: 12px;
  }
}
.date {
  width: 10%;
}
.program {
  width: 30%;
}
.course {
  width: 10%;
}
.name {
  width: 40%;
}
.price {
  width: 10%;
}

.drawerContainer {
  background: #f8f9fa;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.26s ease;

  .drawerInfo {
    min-height: 300px;
    width: 100%;
    background: #ffffff;
    margin: auto;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 4px 5px -5px rgba(0, 0, 0, 0.75);
    margin-bottom: 25px;
    color: #333333;
    padding-bottom: 20px;

    .bookTitle {
      font-size: 22px;
      text-align: center;
      font-weight: bold;
      padding-top: 20px;

      @media (max-width: 678px) {
        font-size: 18px;
      }
    }

    .assetContainer {
      display: flex;
      justify-content: space-evenly;

      @media (max-width: 678px) {
        flex-direction: column;
        align-items: center;
      }

      .infoContainer {
        width: 50%;
        padding: 10px 0;

        @media (max-width: 678px) {
          width: auto;
        }

        .infoSection {
          padding-bottom: 10px;

          @media (max-width: 678px) {
            margin: 0 30px;
          }
        }

        .infoTitle {
          font-size: 18px;
          font-weight: bold;
          text-decoration: underline;

          @media (max-width: 678px) {
            text-align: center;
          }
        }

        .row {
          display: flex;
          font-size: 15px;
          padding: 5px 0;

          .label {
            font-weight: bold;
            min-width: 35%;
            font-style: italic;

            @media (max-width: 678px) {
              min-width: 40%;
            }
          }
          .value {
            font-weight: lighter;
            margin: auto 0;
            min-width: 65%;

            @media (max-width: 678px) {
              text-align: right;
            }
          }
        }
      }

      .pictureContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 40%;
        // margin: auto 0;

        @media (max-width: 678px) {
          width: 90%;
        }

        .picture {
          padding: 15px 0;
          text-align: center;

          @media (max-width: 678px) {
            width: 90%;
          }

          .asset {
            max-width: 300px;
            max-height: 275px;
          }
        }
      }
    }
  }
}

.isGrey {
  // background: #c7c7c7;
  background: #d6dce0;
}

.slideAnimation {
  max-height: 600px;

  @media (max-width: 678px) {
    max-height: 1000px;
  }
}

.expandText {
  text-align: center;
  user-select: none;
}
.expandText:hover {
  cursor: pointer;
  text-decoration: underline;
}

.expandPosts {
  width: 100%;
  background: linear-gradient(#f8f9fa, grey);
  opacity: 0.1;
}
.expandPosts:hover {
  cursor: pointer;
  background: linear-gradient(#f8f9fa, grey);
  color: #000000;
}

.contactButton {
  width: 300px;
  height: 30px;
  font-size: 15px;
  font-family: "Poppins";
  background: #007bff;
  border: none;
  color: #ffffff;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 0 auto;
}
.contactButton:hover {
  cursor: pointer;
  background: #0069d9;
}
