.authSection {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333333;
  padding: 50px 0;

  .authContainer {
    min-height: 571px;
    width: 550px;
    background: #f8f9fa;
    padding-top: 30px;

    .selectorButtons {
      display: flex;
      justify-content: center;
      width: 80%;
      margin: 0 auto;

      .selectorButton {
        height: 50px;
        width: 50%;
        background: #333333;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
      }
      .selectorButton:hover {
        cursor: pointer;
        background: #0069d9;
      }
      .selected {
        background: #007bff;
      }
    }

    .authSuccess {
      display: flex;
      justify-content: center;
      align-content: center;
      font-size: 25px;
      color: #007bff;
      text-align: center;
      padding-top: 35%;
    }

    .authTitle {
      color: #333333;
      font-size: 30px;
      text-align: center;
      margin-top: 15px;
    }
    .errorMessage {
      color: red;
      font-size: 15px;
      text-align: center;
    }

    .form {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 0 auto;
      margin-bottom: 30px;
    }

    .schoolInput {
      z-index: 10;
    }

    .submitButton {
      height: 50px;
      font-size: 20px;
      font-family: "Overpass";
      background: #007bff;
      border: none;
      color: #ffffff;
      transition: 0.3s;
      margin-top: 30px;
    }
    .submitButton:hover {
      cursor: pointer;
      background: #0069d9;
    }
    .submitButton:disabled {
      cursor: not-allowed;
      background: grey;
    }
  }
}

.forgotPassword {
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
}
.forgotPassword:hover {
  cursor: pointer;
  text-decoration: underline;
}

.forgotButton {
  height: 50px;
  font-size: 20px;
  font-family: "Overpass";
  background: #007bff;
  border: none;
  color: #ffffff;
  transition: 0.3s;
  margin: 0 auto;
  margin-top: 30px;
}
.forgotButton:hover {
  cursor: pointer;
  background: #0069d9;
}
.forgotButton:disabled {
  cursor: not-allowed;
  background: grey;
}
.forgotMessage {
  font-size: 15px;
  margin: 15px 0;
  color: #007bff;
}

.backButton {
  font-size: 12px;
  text-decoration: underline;
  margin: 15px 0;
}
.backButton:hover {
  cursor: pointer;
}
