.postingsContainer {
  display: flex;
  flex-direction: column;
}

.searchPanel {
  min-height: 475px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/horizontalBooks.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  // z-index: -1;
  @media (max-width: 1000px) {
    height: auto;
  }

  .searchHeader {
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
    user-select: none;
    margin-bottom: 30px;
    text-align: center;
    @media (max-width: 1000px) {
      font-size: 30px;
    }
  }

  .searchForm {
    width: 642px;

    @media (max-width: 1000px) {
      width: auto;
    }

    .resetButton {
      text-align: center;
      color: #ffffff;
      margin: 5px 0;
    }
    .resetButton:hover {
      cursor: pointer;
    }

    .inputRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;

      @media (max-width: 1000px) {
        flex-direction: column;
      }

      .searchInput {
        width: 180px;
        height: 37px;
        padding: 0 10px;
        border: solid 1px grey;
        border-radius: 5px;
        font-size: 16px;
        color: #333333;
      }
      .searchInput:focus {
        outline: none;
      }

      .searchInputTwo {
        width: 400px;
        height: 38px;
        padding: 0 10px;
        border: solid 1px grey;
        border-radius: 5px;
        font-size: 16px;
        color: #333333;
        font-family: "Overpass";

        @media (max-width: 1000px) {
          width: 180px;
        }
      }
      .searchInputTwo:focus {
        outline: none;
      }

      .searchButton {
        color: #ffffff;
        background: #007bff;
        height: 40px;
        width: 200px;
        border: none;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        transition: background-color 0.15s ease-in-out;
      }
      .searchButton:hover {
        cursor: pointer;
        background: #0069d9;
      }
      .searchButton:focus {
        outline: none;
      }
      .searchButton:disabled {
        background: grey;
      }

      .schoolInput {
        width: 200px;
        height: 40px;
      }
    }
  }
}

.postContainer {
  background: #f8f9fa;
  // background: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;

  .postings {
    min-height: 300px;
    width: 80%;
    margin-bottom: 25px;

    @media (max-width: 1000px) {
      width: 95%;
    }
  }

  .postHeader {
    display: flex;
    border-bottom: 2px solid #333333;
    height: 50px;
    background: #f8f8f8;

    @media (max-width: 678px) {
      font-size: 12px;
    }

    .postHeaderItem {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .date {
      width: 10%;
    }
    .program {
      width: 30%;
    }
    .code {
      width: 10%;
    }
    .name {
      width: 40%;
    }
    .price {
      width: 10%;
    }
  }

  .sticky {
    position: fixed;
    top: 0;
    left: 10%;
    right: 10%;

    @media (max-width: 1000px) {
      left: 2.5%;
      right: 2.5%;
    }
  }
}

ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

li {
  display: inline-block;
  width: 50px;
  text-align: center;
  margin: auto 0;
  cursor: pointer;
}

.paginationContainer {
  height: 100px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}

.active {
  color: #007bff;
}
